*{
    text-align: center;
    font-family: sans-serif;
}

h1{
    color: #f92500;
    font-size: 3rem;
}

button{
    border: none;
    padding: 0.5rem;
    margin: 1rem;
    cursor: pointer;
}

.light, .dark{
    transition: 500ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 10%;
}

.light {
    color: black;
    background-color: white;
    button{
        
        background-color: #3f3f3f;
        color: white;
        &:hover{
            background-color: #cecece;
            color: #333;
        }
    }
}
.dark {
    color: white;
    background-color: #3f3f3f;
    
}
button{
    background-color: white;
    color: #3f3f3f;
    &:hover{
        background-color: #cecece;
        color: #333;
    }
}

h2{
    margin: 0 2rem;
}

h2:nth-of-type(2){
    margin-top: 3rem;
}

.categoryHeader{
    font-size: 5rem;
}
 